<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Messages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>New Message</h1>

<form action="#" th:action="@{/message}" th:object="${message}" method="POST">
    <label for="message_subject">Subject</label>
    <input type="text" th:field="*{subject}" id="message_subject" />

    <label for="message_body">Body</label>
    <input type="text" th:field="*{body}" id="message_body"/>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" /> <input type="reset" value="Reset" />
</form>


</body>

</html>